* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: url('assets1/clgimage.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: #dae5db;
    padding: 20px;
    width: 350px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;

}

h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

select {
    background-color: #96c2f0;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-group {
    display: flex;
    justify-content: space-between;
}

button {
    flex: 1;
    padding: 10px;
    margin: 5px;
    background-color: #96c2f0;
    color: #000000;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;

}

.switch-link {
    display: block;
    margin-top: 15px;
    cursor: pointer;
    color: #007BFF;
    text-decoration: underline;
}

.copyright {
    font-size: 12px;
    margin-top: 10px;
    color: gray;
}

.dashboard-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
